<% const d = new Date() %>
<footer>
  <p class="copyright">&copy; <%= d.getFullYear() %>, CSE 340 App</p>
  <p><a href="/inv/trigger-error" title="Trigger a 500 error for testing">Intentional 500 Error</a></p>
</footer>
